    .image img {
        width: 116%;
        max-height: 118%;
        object-fit: cover;
        filter: blur(3px);
    }
    
    .image {
        height: 100%;
        width: 100%;
        position: fixed;
    }
    
    
    h2 {
        margin-top: 3%;
        text-align: center;
        font-size: 250%;
        /* font-style: italic; */
        /* font-family: 'Times New Roman', Times, serif; */
        /* font-family: monospace; */
        font-family: 'Courier New', Courier, monospace;
    }
    
    .card {
        position: relative;
        margin-top: 3%;
        margin-left: 4%; 
        width: 90%;
        height: 90%;
        background: rgba(255, 252, 252, 0.3);
        backdrop-filter: blur(8px);
        box-shadow: 0 15px 15px rgba(255, 3, 3, 0.1);
        border-radius: 10px;
        position: absolute;
        justify-content: center;
        align-items: center;
    }
    
    .text {
        width: 80%;
        height: 80%;
        margin-top: 50px;
        margin-left: 90px;
        position: absolute;
    }
    
    .card .portrait {
        margin-top: 0px;
        width: 120px;
        height: 120px;
        margin-top: 3%;
        margin-left: 3%;
        position: absolute;
    }
    
    .card .portrait img {
        position: relative;
        border-radius: 50%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
    }
    
    .card .logo {

        width: 16%;
        height: 20%;
        margin-top: -1%;
        margin-left: 85%;
        position: absolute;
    }
    
    .card .logo img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    h3 {
        margin-top: 45%;
        margin-left: -5%;
        font-size: 18px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    .me {
        position: relative;
        margin-top: 15%;
        margin-left: 4%; 
        width: 20%;
        height: 30%;
        background: rgba(209, 22, 22, 0.3);
        backdrop-filter: blur(8px);
        box-shadow: 0 15px 15px rgba(255, 3, 3, 0.1);
        border-radius: 10px;
        position: absolute;
        justify-content: center;
        align-items: center;
    }

    p{
        margin-top: -5%;
        margin-left: 5%;
        font-size: 18px;
       
    }